html {
    font-family: 'Courier New', Courier, monospace
}

nav {
    height: 100px;
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 0 50px;
    align-items: center;
}

a {
    text-decoration: none;
    display: flex;
    gap: 2px;
}


h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 1.33em;
}

.secondary {
    color: #444;
}

.blur {
    opacity: 0.8;
}

h3, h4, p, span {
    margin: 0 0 10px 0;
}

.block {
    margin-bottom: 30px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.section {
    margin-bottom: 50px;
}

.section-flex {
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.icon {
    width: 30px;
    height: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 50px;
}

.img-ctn {
    display: flex;
    justify-content: center
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%
}
