---
layout: default
---

<div class="wrapper">
    <div>
        <div class="img-ctn">
            <img class="profile-img" src="/assets/img/profile.png">
        </div>
        <h1>{{ page.title }}</h1>

        <p>{{page.description}}</p>


        <div style="display: flex; gap: 5px">
         <a href="{{site.linkedin}}" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>
        <a href = "mailto:{{site.email}}"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
        </div>
    </div>
    <div>
        <div class="section">
            <h2>{{ page.technologies.title }}</h2>
            {% for section in page.technologies.sections %}
              <div class="block">
                <h4 class="blur">{{section.title}}</h4>
                <div style="margin: 20px 0 5px ">
                  {% for item in section.entries %}
                    <img src="{{item.src_path}}" class="icon">
                  {% endfor %}
                </div>
                <p class="blur secondary" style="font-size: 0.7em">({% for item in section.entries %}
                  {{item.name}},
                {% endfor %})</p>
              </div>

            {% endfor %}
          </div>

          <div class="section">
            <h2> {{ page.experience.title }} </h2>
            {% for item in page.experience.entries %}
              <div class="block">
                <h3> {{item.name}} </h3>
                <h4 class="secondary" >{{item.position}}</h4>
                <p class="secondary blur"> {{item.period}} </p>
                <p> {{item.description}} </p>
              </div>
            {% endfor %}
          </div>

          <div class="section">
            <h2> {{ page.education.title }} </h2>
            {% for item in page.education.entries %}
              <h3> {{item.institution}} </h3>
              <h4 class="secondary">{{ item.type }}</h4>
              <p class="secondary blur"> {{item.period}} </p>
              <p> {{item.name}} </p>
            {% endfor %}
          </div>

          <div class="section-flex">
            {% for extra in page.extras %}
              <div>

              <h3>{{extra.title}}</h3>

              {% for entry in extra.entries %}
                <p>{{entry}}</p>
              {% endfor %}
              </div>
            {% endfor %}

          </div>

    </div>
</div>




