<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url }} />
    <script src="https://kit.fontawesome.com/f47396d3bb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        {% include nav.html %}
    </header>
    <div class="container">
        {{ content }}
    </div>
    <footer class="printable">
        <span class="blur">Available online on: {{ site.url }}</span>
    </footer>
</body>
</html>